/* @import url('https://fonts.googleapis.com/css?family=Manrope'); */
@import url('https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600&display=swap');
.home-page {
    /* margin: 0; */
    max-width: 60%;
    /* max-width: max-content; */
}

.p a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', 'sans-serif';
}

.p a:hover{
    text-decoration: underline;
}

.image-cropper{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  max-width: 27%;
  max-height: 27%;
  border-radius: 50%;
  border: 3px solid #14304f
}

h1 {
    font-size: 50px;
    font-family: 'Inter', 'sans-serif';
    color: #14304f;
    font-weight: 700
}
h2 {
    font-size: 30px;
    font-family: 'Inter', 'sans-serif';
    color: #14304f;
    font-weight: 600
}
p {
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400
}

ul.posts { 
    margin: 30px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
